body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* 배경색 설정 */
}

.page {
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* 중앙 컨텐츠 영역 */
.main_box {
  min-width: 30rem;
  max-width: 380px;
  height: 100vh; /* 높이 비율 */
  background-color: #ffffff; /* 중앙 영역의 배경색 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  display: flex;
  align-items: center; /* 내부 내용 가운데 정렬 */
  justify-content: center;
  border-radius: 10px; /* 모서리 둥글게 */
  flex-direction: column;
}
