@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
      format('woff2');
    font-weight: 400;
    font-style: normal;
  }

#suite-regular-font{
    font-family: 'SUITE-Regular';
}

#kcc-hanbit-font{
    font-family: 'KCC-Hanbit';
}