@font-face {
  font-family: 'KCC-Hanbit';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}
.header {
  min-width: 26rem;
  max-width: 340px;
  z-index: 10;
  height: 12vh;
  background-color: aliceblue;
  padding: 1px 0px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-text {
  font-family: 'SeoulNamsanM';
  color: white;
  font-size: 1.3rem;
}

.header_rate {
  display: flex;
  justify-content: left; /* 가로 중앙 정렬 */
  margin-left: 1rem;
  flex-direction: row;
}
.header_star {
  margin-right: 0.5rem;
}
.header-rate-font {
  font-family: 'SeoulNamsanM';
}

.header-tag {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.header_text {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  font-size: 35px;
}

.header-btn {
  border-radius: 1.5rem;
  border: none;
  background-color: #ff6b6b;
  color: white;
  position: fixed;
  top: 1rem;
  margin-left: 1rem;
  right: inherit;
  width: 2.5rem;
  height: 2.5rem;
}

.button-box {
  position: fixed;
  right: 1.5rem;
}
