#map_div {
  width: 100%;
  height: 100vh; /* 높이를 100%로 설정 */
}

.map-store-data {
  position: fixed;
  bottom: 0.5rem;
  max-width: 450px;
  /* overflow: hidden;
  text-align: center; */
}

.antCard {
  width: 25rem;
}

.delete-button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}