.review-wirte-page {
  padding: 2rem;
}

.review-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}

.input-box {
  height: 25vh;
  min-width: 26rem;
  max-width: 30rem;
  padding: 1rem;
  margin-top: 3vh;
  border-radius: 1.5rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-info {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center; /* 세로 방향 가운데 정렬 */
  justify-content: center; /* 가로 방향 가운데 정렬 */
  gap: 1rem;
}

.input-info-id {
  flex: 2;
}
.input-info-pw {
  flex: 2;
}
.input-info-btn {
  flex: 1;
  border-color: rgb(49, 126, 234);
  border-width: 0.1rem;
  background-color: white;
  color: rgb(49, 126, 234);
  border-radius: 1rem;
  padding: 0.5rem;
  border-style: solid;
}
.input-info-id,
.input-info-pw {
  height: 3vh;
  min-width: 8rem;
  max-width: 10rem;
  border-radius: 1rem;
  padding-left: 1rem; /* 모든 입력 필드에 텍스트 시작 위치 조정 */
}

.input-content {
  margin-top: 1rem;
  min-width: 25.5rem;
  max-width: 26.5rem;
  height: 18vh;
}

.tagbtn-box {
  background-color: white;
  height: 38vh;
  margin-top: 3rem;
  padding: 1rem; /* 상단 패딩을 늘려서 버튼들을 아래로 이동 */
  width: 26rem;
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* 3개의 열을 각각 동일한 크기로 설정 */
  grid-gap: 1rem; /* 그리드 간격 설정 */
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tagbtn {
  flex: none; /* Flexbox 속성 비활성화 */
  border: none;
  width: 12rem;
  height: 2.8rem;
  margin: 0.4rem; /* 버튼 사이의 간격 */
  font-size: 1.2rem;
  border-color: rgb(49, 126, 234);
  border-width: 0.1rem;
  color: rgb(49, 126, 234);
  border-radius: 1rem;
  padding: 0.5rem;
  border-style: solid;
  transition: background-color 0.3s transform 0.3s ease; /* 부드러운 색상 전환 효과 */
}

.tagbtn-box button:hover {
  transform: translateY(-5px);
}

.input-info-btn:active {
  background-color: rgb(49, 126, 234);
  color: white;
}
