@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

.review-wirte-page {
  font-family: 'SUITE-Regular';
  padding: 2rem;
  margin-top: 8vh;
}

.review-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-box {
  height: 23vh;
  min-width: 22rem;
  max-width: 270px;
  padding: 1rem;
  margin-top: 3vh;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-info {
  flex: 1;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center; /* 세로 방향 가운데 정렬 */
  justify-content: center; /* 가로 방향 가운데 정렬 */
  gap: 1rem;
}

.input-info-id {
  flex: 2;
}
.input-info-pw {
  flex: 2;
}

.input-info-id,
.input-info-pw {
  border-width: 0.2rem;
  border-color: #bcbcbc;
  font-family: 'SUITE-Regular';
  height: 3.5vh;
  min-width: 10.5rem;
  max-width: 10.5rem;
  border-radius: 0.6rem;
  padding-left: 1rem; /* 모든 입력 필드에 텍스트 시작 위치 조정 */
}

.input-info-id:focus,
.input-info-pw:focus,
.input-info-id:hover,
.input-info-pw:hover {
  border-color: #999999;
}
.input-info-rate {
  margin-top: 0.2rem;
  margin-left: 0.3rem;
}
.input-content {
  padding: 0.5rem;
  font-family: 'SUITE-Regular';
  font-size: 1.03rem;
  border-width: 0.2rem;
  border-radius: 0.4rem;
  margin-top: 1rem;
  min-width: 20.6rem;
  max-width: 300px;
  height: 10vh;
  resize: none;
}

.tagbtn-box {
  background-color: white;
  height: 34vh;
  margin-top: 3rem;
  padding: 1rem; /* 상단 패딩을 늘려서 버튼들을 아래로 이동 */
  min-width: 22rem;
  max-width: 270px;
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* 3개의 열을 각각 동일한 크기로 설정 */
  grid-gap: 1rem; /* 그리드 간격 설정 */
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tagbtn {
  font-family: 'SUITE-Regular';
  flex: none; /* Flexbox 속성 비활성화 */
  border: none;
  width: 9.6rem;
  height: 2rem;
  margin: 0.4rem; /* 버튼 사이의 간격 */
  font-size: 0.9rem;
  border-color: #3bb26f;
  border-width: 0.2rem;
  color: #3bb26f;
  border-radius: 0.6rem;
  padding: 0.5rem;
  border-style: solid;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: background-color 0.3s transform 0.3s ease; /* 부드러운 색상 전환 효과 */
}

.tagbtn-box button:hover {
  transform: translateY(-5px);
}

.button-box {
  margin-top: 2rem;
  display: flex;
  align-self: end;
  align-items: right;
}

.input-info-btn {
  font-family: 'SUITE-Regular';
  width: 7rem;
  height: 5.5vh;
  border-color: #3bb26f;
  border-width: 0.1rem;
  background-color: #3bb26f;
  color: white;
  border-radius: 0.5rem;
  border-width: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-style: solid;
  font-family: 'SUITE-Regular';
}

.input-info-btn:active {
  background-color: #43ca7d;
  color: white;
}
