@font-face {
  font-family: 'KCC-Hanbit';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

.list-box-margin {
  margin-top: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#box::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.data-box {
  font-family: 'SUITE-Regular';
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-width: 24rem;
  max-width: 280px;
}

.list-box {
  font-family: 'SUITE-Regular';
  overflow-y: scroll;
  overflow-x: hidden;
  height: 20rem;
  border-bottom: 2px solid #ccc; /* 하단에 회색 밑줄 추가 */
  min-width: 25rem;
  max-width: 320px;
  flex: 1;
  flex-direction: column;
}

.delete-button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
